<div class="hover13">
    <figure class="champion">
    <var <%= namenospaces = String.replace(@name, " ", "%20") %></var>
    <a href= <%="http://lolprofile.net/summoner/na/" <> namenospaces %> target="_blank"> <img src="<%= static_path(@conn, "/images/champions/" <> @champion <> ".png") %>"></a>
    <figcaption class="caption">
    <%= @name %>
    </figcaption>
    </figure>
</div>