<div id="msg-container" class="panel panel-default chat-room">
  <div id="chat-messages" class="panel-body panel-messages">
  </div>
    <input type="text" id="message-input" class="form-control" placeholder='Type a message...' maxlength="135"> 
</div> 
         