<div class="red-team"></div>
    <%= for [champion, name] <- Enum.slice(@teams, 5, 5)  do %>
        <%= render(Ethduel.Web.GameView, "champion.html", conn: @conn, champion: champion, name: name) %>
    <% end %>