<!-- Button trigger modal -->
<button type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#aboutModal">
  About Ethduel
</button>

<!-- Modal -->
<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="aboutModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="aboutModalLabel">About</h4>
      </div>
      <div class="modal-body">
        <p>Ethduel is made possible by using Elixir and Phoenix for the backend and website, and MetaMask, Parity, and Ethereum for the Ether storage and transfer. </p>
        <p>Inquiries or messages for the Ethduel team should be made on Discord for now. </p> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>