<div class=fate>
  <div class="hover13">
    <a href="<%= game_path(@conn, :random)%>"
    <figure class="champion">
     <img src="<%= static_path(@conn, "/images/fate.jpg") %>">
    </figure> </a>
  </div>
</div>