<div class="siteHeader">
  <!-- This section gets pushed to the left side-->
  <div class="siteHeader__section">
      <div id=header_logo> <a href="/"><img src="<%= static_path(@conn, "/images/ethduellogo.png") %>" alt="Home"></a></div>
      <div class="siteHeader__item siteHeaderSearch"><%= render Ethduel.Web.LayoutView, "searchbar.html", conn: @conn  %></div>
  </div>

  <!-- this section in the middle -->
  <div class="siteHeader__section">
      <!-- <div class="siteHeader__item"> 
        <div class="spinner">
          <div class="bounce1"></div>
          <div class="bounce2"></div>
          <div class="bounce3"></div>
        </div>
      </div> -->
      <div class="account-balance"><%= render Ethduel.Web.LayoutView, "userbalance.html", conn: @conn  %></div>

      <div class="account-functions-space" id="account-functions"><%= render Ethduel.Web.LayoutView, "accountfunctions.html", conn: @conn  %></div>
  </div>

  <!-- This section gets pushed to the right side-->
  <div class="siteHeader__section">

  <a href="/account"><div class="siteHeader__item siteHeaderButton">Account</div></a>
    
  <div class="siteHeader__divider headerDivider"></div>
  
  <a href="/help"><div class="siteHeader__item siteHeaderButton">Getting Started</div></a>
  
  <div class="siteHeader__divider headerDivider"></div>
  
  <div class="siteHeader__item"><%= render Ethduel.Web.LayoutView, "metamasktext.html", conn: @conn  %>
    </div>
  </div>
</div>
<div id="transaction-notifications" align="center"></div>
<div id="alert-notifications" class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></div>
<div id="alert-warnings" class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></div>