<div class="siteFooter">
  <!-- This section gets pushed to the left side-->
  <div class="siteHeader__section">
    <div id=header_logo><a href="https://discord.gg/mmC4KXf" target="_blank"><%= PhoenixInlineSvg.Helpers.svg_image(@conn, "discordicon") %></a> </div>
    <div class="siteFooter__item siteFooterButton"><%= render Ethduel.Web.LayoutView, "discordbutton.html", conn: @conn  %></div>
  </div>
  <!-- This section gets pushed to the right side-->
  <div class="siteFooter__section">
    <div class="siteFooter__item siteFooterButton"><%= render Ethduel.Web.LayoutView, "legalmodal.html", conn: @conn  %></div>
    <div class="siteFooter__item siteFooterButton"><%= render Ethduel.Web.LayoutView, "aboutmodal.html", conn: @conn  %></div>
  </div>
</div>