<%= form_for @conn, name_path(@conn, :create), [as: :parameters], fn f -> %>
  <%= select f, :region, ["NA": "na1", "KR": "kr", "JP": "jp1", "OC": "oc1", "EUN": "eun1", "EUW": "euw1", "RU": "ru", "BR": "br1", "TR": "tr1", "LA1": "la1", "LA2": "la2", "PBE": "pbe1"] %>
  <%= text_input f, :name, placeholder: "Player Name" %>
  <%= submit "Find Game" %>
<% end %>
