
@font-face {
  font-family: 'Arimo';
  src: url('/fonts/Arimo-Regular.ttf') format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Arimo';
  src: url('/fonts/Arimo-Italic.ttf') format("truetype");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: 'Arimo';
  src: url('/fonts/Arimo-BoldItalic.ttf') format("truetype");
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: 'Arimo';
  src: url('/fonts/Arimo-Bold.ttf') format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Ubuntu-Regular.ttf') format("truetype");
}

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Ubuntu-Regular.ttf') format("truetype");
}

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/Ubuntu-Medium.ttf') format("truetype");
}

@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 700;
  src: url('/fonts/Ubuntu-BoldItalic.ttf') format("truetype");
}

@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/Ubuntu-Italic.ttf') format("truetype");
}

