ol.simple-list {
  list-style-type: none;
   
  margin: 0;
  margin-left: 3em;
  margin-right: 5em;
  padding: 0;
  
   
  counter-reset: li-counter;
}
ol.simple-list > li{
  position: relative;
  margin-bottom: 20px;
  padding-left: 0.5em;
  padding-right: 0.5em;
  min-height: 3em;
  border-left: 2px solid #CCCCCC;
  background: rgba(245, 245, 245, 0.8)
  
  
  
}

ol.simple-list > li:nth-child(odd){
  border-left: 4px solid #0D2235;
}
ol.simple-list > li:nth-child(even){
  border-left: 4px solid #BC0303;
}

ol.simple-list > li:before {
  position: absolute;
  top: 0;
  left: -1em;
  width: 0.8em;
   
  font-size: 3em;
  line-height: 1;
  font-weight: bold;
  text-align: right;
  color: #464646;
  

  content: counter(li-counter);
  counter-increment: li-counter;
}

.steps {
  display: flex;
  margin-bottom: 5em;
}

.titles {
  display: flex;
  justify-content: space-around;
}