.champion {
    /* To correctly align image, regardless of content height: */
    vertical-align: top;
    display: inline-block;
    /* To horizontally center images and caption */
    text-align: center;
    /* The width of the container also implies margin around the images. */
    width: 95px;   
}

img {
  width: 80px;
  height: 80px;
  display: inline-block;
  margin-bottom: 0em;
  margin-top: .5em;
  background-size: 80px 80px;
  border-radius: 7px;
}
.caption {
    /* Make the caption a block so it occupies its own line. */
    display: inline-block;
    text-align: center;
}

/* Flashing */
.hover13 figure:hover img {
	opacity: 1;
	-webkit-animation: flash 1.5s;
	animation: flash 1.5s;
}
@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}

.blueteam {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
  border-style: outset;
  border-radius: 8px;
  border-width: 3px;
  border-color: blue;
  background: rgba(255, 255, 255, 0.55);
  max-height: initial;
  
}


.redteam {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
  border-style: outset;
  border-radius: 8px;
  border-width: 3px;
  border-color: red;
  background: rgba(201, 185, 172, 0.58);
  max-height: initial;
  }

/*for cards on home page */

.card {
  /* To correctly align image, regardless of content height: */
  vertical-align: top; 
}

.card > img {
  margin: .5em;
  border-radius: 10px;
  height: 100px;
  width: 65px;
  background-size: 400px 400px;
}



