.siteFooter {
  /**
   * Lay out the children of this container with
   * flexbox, which is horizontal by default.
   */
  display: flex;
  max-height: 40px;

  /**
   * Make the container put as much space as possible
   * between its children, with the children at either
   * end laying flush against the container's edges.
   */
  justify-content: space-between;
  
  padding-top: 0px;
  background: linear-gradient(to right, rgba(4, 52, 94, 0.52), rgba(214, 26, 26, 0.68)); 
}

  .siteFooter__section {
    /**
     * Lay out the children of this container with
     * flexbox.
     */
    display: flex;

    /**
     * Align the children in the center, along
     * the main axis. By default the children will
     * align along their top edges.
     */
    align-items: center;
    justify-content: flex-end;
  }

    .siteFooter__item {
      padding: 5px 5px;
      padding-right: 15px;
      font-size: 14px;
    }

    .siteFooter__item + .siteFooter__item {
      margin-left: 3px;
    }

    .fate {
      align-self: flex-end;
    }

    .fate img {
      width: 50px;
      height: 50px; 
      box-shadow: 4px 4px 6px rgba(24, 4, 4, 0.5);
      
    }
