 <div class="game-preview">  
  <div class="blue-preview">
    <%= for champion <- Enum.slice(@game, 0, 5) do %>
    <%= render(Ethduel.Web.PageView, "smallchampion.html", conn: @conn, champion: champion) %>
    <% end %>
  </div>

  <div class="game-description">
    <%= render(Ethduel.Web.PageView, "gamefacts.html", conn: @conn) %>
  </div>
  
  <div class="red-preview">
    <%= for champion <- Enum.slice(@game, 5, 5) do %>
    <%= render(Ethduel.Web.PageView, "smallchampion.html", conn: @conn, champion: champion) %>
    <% end %>  
  </div>
</div>