<body class="Site">
  <div class="header"><%= render Ethduel.Web.LayoutView, "header.html", conn: @conn %></div>

  <center>
</div>
  <div id="response"></div>
  <div id="intro">
    <h1>Bet on yourself in League of Legends!</h1>
  </div>
  <div class="lead-panels">
    <div id="intro-bet">
      <h3>Bet on <em><b>any ranked</b></em> game, even your own! Use the Ethereum cryptocurrency to bet with <b>no signup.</b> Search for a player above to start.</h3> 
    </div>
    <div id="intro-help">
      <h3>Please see the <u><a href="/help">Getting Started</a></u> page for directions on how to deposit Ether and bet. It only takes a few steps!</h3> 
    </div>
  </div>

  <h4>Popular Games <em>(in progress)</em></h4>
  <div class="popular-panel"><%= render Ethduel.Web.PageView, "popular.html", conn: @conn, populargames: @populargames  %>
  </div>

  <div>
    <%= render Ethduel.Web.PageView, "random.html", conn: @conn %>
  </div>

  </center>  
  
  <footer <%= render Ethduel.Web.LayoutView, "homepagefooter.html", conn: @conn %></footer>

</body>
