 <!-- join a random recent game -->
 <div class="random"> 
    <div>Pick a card to quickly join a random, recent game lobby</div>
    
    <div class="hover13">
    <a href="<%= game_path(@conn, :random)%>"
    <figure class="card">
     <img src="<%= static_path(@conn, "/images/cards/bluecard.png") %>">
    </figure> </a>
  </div>
  <div class="hover13">
    <a href="<%= game_path(@conn, :random)%>"
    <figure class="card">
     <img src="<%= static_path(@conn, "/images/cards/redcard.png") %>">
    </figure> </a>
  </div>
   <div class="hover13">
    <a href="<%= game_path(@conn, :random)%>"
    <figure class="card">
     <img src="<%= static_path(@conn, "/images/cards/goldcard.png") %>">
    </figure> </a>
  </div>
  <div> <em>"It ain't luck, it's <b>destiny<b>"</em></div>
</div>
