<body>
<div><%= render Ethduel.Web.LayoutView, "header.html", conn: @conn%></div>

<div class="titles">
  <h2>Steps to Bet</h2>
  <h2>Steps to Deposit Ether</h2>
</div>

<div class=steps>
  <ol class="simple-list">
    <li>Search for the name of a player <b>in a game</b> or in the <b>loading screen</b> of a game in the search box above.</li>
    <li>With Ether deposited in your Ethduel account, click Bet on either the Blue or Red team. Ethduel will attempt to <b>match you</b> with a bettor for the other team.  If none is found in a short amount of time, the bet is fully refunded.</li>
    <li>To find opponents, users are encouraged to share their game link, such as <em><b>"ethduel.com/game/2599449128"</b></em> on sites like Twitch.</li>
    <li>At the end of the game, Ethduel will decide the winner based on the Riot API outcome of the match, and payout <b>double the bet</b> minus a 1% fee.</li>
  </ol>

  <ol class="simple-list">
    <li>The Ethereum network is similar to the Bitcoin network, and we need to a trusted way to connect to it.  Install the MetaMask browser extension, which is currently only available for Chrome (Firefox support coming soon), and can be found <a href="https://metamask.io" target="_blank">here</a>.</li>
    <li>Create a MetaMask password. <em><b>Do not forget this password!</b></em> It is the only way to access your funds in MetaMask and, through that, your funds in Ethduel. Save the recovery phrase, as that is the <b>only</b> way to recover your password.</li>
    <li>Buy or transfer Ether to your MetaMask wallet.  This can be done through MetaMask, or through any exchange such as Coinbase, Kraken, Gemini, etc.  A small amount can be bought through MetaMask with no registration, but you will need to go through the registration compliance on an exchange to purchase greater amounts. This can take <b>days or even a week</b> so start now!</li>
    <li>Finally, deposit Ether using the Ethduel UI.  It will show up within minutes and you are now ready to bet! Good luck!</li>
  </ol>
</div>

  <center>
  <div><h3>Common Questions</h3></div>
  <div><%= render Ethduel.Web.HelpView, "faq.html", conn: @conn  %></div>
  </center>

  <footer <%= render Ethduel.Web.LayoutView, "footer.html", conn: @conn %></footer>
</body>